@model IEnumerable<Mahasiswa_New.Models.MahasiswaModel>
@{
    ViewBag.Title = "";
    var no = 0;

}
<hr />
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-body">
                <p>
                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", @style = "width:100px" })
                </p>
                <hr />
                <table id="TbMahasiwa" class="table table-bordered table-condensed table-hover table-responsive">
                    <thead>
                        <tr>
                            <th style="width:10px; text-align:center;">No</th>
                            <th style="width:100px; text-align:center;">Action</th>
                            <th>NPM</th>
                            <th>Nama</th>
                            <th>JK</th>
                            <th>Jurusan</th>
                            <th>Alamat</th>
                            <th>Tgl Lahir</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var mhs in Model)
                        {
                            no++;
                            <tr>
                                <td>@no</td>
                                <td>
                                    @Html.ActionLink(" ", "Edit", new { id = mhs.NPM }, new { @class= "btn btn-xs btn-primary fa fa-pencil"}) |
                                    @Html.ActionLink(" ", "Details", new { id = mhs.NPM }, new { @class = "btn btn-xs btn-success fa fa-eye"}) |
                                    @Html.ActionLink(" ", "Delete", new { id = mhs.NPM }, new { @class = "btn btn-xs btn-danger fa fa-trash"})
                                </td>
                                <td>@mhs.NPM</td>
                                <td>@mhs.Nama</td>
                                <td>@mhs.JK</td>
                                <td>@mhs.Jurusan</td>
                                <td>@mhs.Alamat</td>
                                <td>@mhs.TglLahir</td>
                                <td>@mhs.Email</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

    <script type="text/javascript">
     $(document).ready(function () {

         $('#TbMahasiwa').DataTable();
     });
    </script>

}


